.pet-add-form-content{
    min-width:260px;
	width:50vw;
	position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

@media(min-width:576px){
	.pet-add-form-content{
		width:400px;
	}
}

@media(min-width:768px){
	.pet-add-form-content{
		width:500px;
	}
}
