.pet-form-content{
    min-width:260px;
	width:50vw;
	position: relative;
    left:50%;
    transform: translateX(-50%);
}

@media(min-width:576px){
	.pet-form-content{
		width:400px;
	}
}

@media(min-width:768px){
	.pet-form-content{
		width:500px;
	}
}
