.pet-card.card{
    min-width: 250px;
    width:100%;
    max-width: 300px;
}

@media(min-width:450px){
    .pet-card.card{
        min-width:300px;
        width:100%;
    }
}

.img-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
    margin: auto;
}

.pet-image{
    width: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.img-adopted-stamp{
    position: absolute;
    top:0;
    right: 0;
    width: 100px;
}

/* .img-pending-stamp{
    position: absolute;
    top:5px;
    right: 5px;
    width: 80px;
} */