.header{
    /* background-color: #02f4fc; */
    background-color: #67e1f7;
    box-shadow: 0 0 6px rgb(0 0 0 / 60%);
}

.active::after{
    content:'';
    background-color: #353536;
    height: 2px;
    width: 100%;
}

.header-logo{
    font-size: 36px;
    font-weight: 500;
    color: #353536;
    padding: 10px 50px;
}

.header-logo:hover{
    text-decoration: none;
}

.header-link{
    font-weight: 500;
    padding: 15px;
    color:#353536;
}

.header-link:hover{
    text-decoration: none;
}

.menu-bars{
    color:#353536;
}

.dropdown-link{
    color:#138496;
}

.dropdown-link:hover{
    text-decoration: none;
}

.screen-navigation{
    margin: auto 0;
    display:none;
}

@media(min-width: 768px){
    .screen-navigation{
        display:block;
    }
    
    .phone-navigation{
        display:none;
    }
}

