div.contacts-page-content {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 137px);
}

.contact-info {
    position: absolute;
    background-color: #138496;
    /* background-color: #67e1f7; */
    color: #FFF;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 4px rgb(0 0 0 / 60%) inset;
    top: 71.4px;
    right: 25px;
    margin-left: 25px;
    z-index: 1;
}

.map-wrapper {
    width: 100%;
    height: calc(100vh - 234px);
    overflow: hidden;
    border-radius: 20px;
}

.img-map {
    width: 100%;
    height: 100%;
    margin: auto;
}

.contact-list {
    padding: 0;
    margin: 0;
}

.contact-list-item {
    list-style: none;
}

.contact-list-item h5 {
    margin-bottom: 0;
}

.contact-list-item p {
    margin-bottom: 8px;
}