.location-pin {
    width: 150px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);

    &-icon {
        font-size: 2rem;
        color: #138496;
    }

    &-text {
        font-size: 1rem;
        font-weight: 500;
        color: #353536;
        position: absolute;
        top:-65px;
    }

    @media (min-width:799px) {

        &-icon {
            font-size: 2rem;
        }
    }
}